    <h2 id="main-title">Ejercicios con CSS</h2>

    <!-- Contenedor para la cuadrícula de tarjetas -->
    <div id="grid-container">
         <!-- Las tarjetas se insertarán aquí o estarán definidas estáticamente -->
         <!-- Ejemplo de una tarjeta (reemplaza/genera según tus necesidades) -->
         <div class="ejemplo-card">
            <h3>Modelo de Caja en CSS</h3>
            <p>Observa cómo afectan `box-sizing`, padding y margen a los elementos.</p>
            <a data-url="./examples/cs/cajas/index1.html" data-title="MDN: Introducción a HTML">Ver Ejercicio</a>
        </div>
        <div class="ejemplo-card">
            <h3>Flexbox y Grid</h3>
            <p>CSS-Flexbox y Grid.</p>
            <a data-url="./examples/cs/cajas/index2.html" data-title="MDN: Introducción a HTML">Ver Ejercicio</a>
        </div>        
    </div> <!-- Fin de #grid-container -->

    <!-- Contenedor que mostrará el botón volver y el iframe -->
    <div id="iframe-container">
        <!-- Contenido dinámico generado por JS -->
    </div>

