    <h2 id="main-title">Ejercicios DOM</h2>

    <!-- Contenedor para la cuadrícula de tarjetas -->
    <div id="grid-container">
         <!-- Las tarjetas se insertarán aquí o estarán definidas estáticamente -->
         <!-- Ejemplo de una tarjeta (reemplaza/genera según tus necesidades) -->
         <div class="ejemplo-card">
            <h3>Simulacion creación DOM</h3>
            <p>Pasos en la creación del DOM.</p>
            <a data-url="./examples/dom/controlflow/panel.html" data-title="MDN: Introducción a HTML">Creación del DOM</a>
        </div>
       
    </div> <!-- Fin de #grid-container -->

    <!-- Contenedor que mostrará el botón volver y el iframe -->
    <div id="iframe-container">
        <!-- Contenido dinámico generado por JS -->
    </div>

