    <h2 id="main-title">Ejercicios DOM</h2>

    <!-- Contenedor para la cuadrícula de tarjetas -->
    <div id="grid-container">
         <!-- Las tarjetas se insertarán aquí o estarán definidas estáticamente -->
         <!-- Ejemplo de una tarjeta (reemplaza/genera según tus necesidades) -->
         <div class="ejemplo-card">
            <h3>Simulacion creación DOM</h3>
            <p>Creación del DOM+Ejemplos</p>
            <a data-url="./fundamentos/carga-inicial-pagina/index.html" data-title="MDN: Introducción a HTML">Creación del DOM en la carga inicial de una página web</a>
        </div>
        <div class="ejemplo-card">
            <h3>Navegacion y Estructura</h3>
            <p>Mejores prácticas.</p>
            <a data-url="./fundamentos/navegacion/index.html" data-title="MDN: Introducción a HTML">Navegación entre página web, estructura carpetas y rutas relativas</a>
        </div>

        <div class="ejemplo-card">
            <h3>Listener</h3>
            <p>Ejemplo progamación de un listener.</p>
            <a data-url="./fundamentos/listener/index.html" data-title="MDN: Introducción a HTML">Registrar el listener y definir la función que manejará el evento</a>
        </div> 
        <div class="ejemplo-card">
            <h3>CSS</h3>
            <p>Simulador de Cascada y Especificidad.</p>
            <a data-url="./fundamentos/cascada-css/index.html" data-title="MDN: Introducción a HTML">Desmitificar por qué una regla CSS prevalece sobre otra</a>
        </div> 
        <div class="ejemplo-card">
            <h3>Box Model</h3>
            <p>Box Model Interactivo</p>
            <a data-url="./fundamentos/box-model-interactivo/index.html" data-title="MDN: Introducción a HTML">Visualmente las partes del Box Model (contenido, padding, borde, margen).</a>
        </div>
        <div class="ejemplo-card">
            <h3>InnerHTML</h3>
            <p>Inserccion dinámica de código </p>
            <a data-url="./fundamentos/innerhtml/index.html" data-title="MDN: Introducción a HTML">Funcionamiento de innerHTML y sus riesgos de seguridad.</a>
        </div>

        <div class="ejemplo-card">
            <h3>Tráfico HTTP</h3>
            <p>Métodos GET y POST+Ejemplos</p>
            <a data-url="./fundamentos/http/index.html" data-title="MDN: Introducción a HTML">Simulador del Ciclo Petición/Respuesta HTTP.</a>
        </div> 

        <div class="ejemplo-card">
            <h3>Async/Await</h3>
            <p>AJAX + Ejemplos</p>
            <a data-url="./fundamentos/fetch-promesa/index.html" data-title="MDN: Introducción a HTML">Comunición moderna para obtener o enviar datos sin recargar la página.</a>
        </div>

        <div class="ejemplo-card">
            <h3>Websocket</h3>
            <p>Comunicación bidireccional y persistente HTTP</p>
            <a data-url="./fundamentos/websocket/index.html" data-title="MDN: Introducción a HTML">Para casos donde el servidor necesite enviar datos al cliente sin que éste los solicite.</a>
        </div>        
        <div class="ejemplo-card">
            <h3>Almacenamiento Web</h3>
            <p>Cookies vs LocalStorage vs SessionStorage</p>
            <a data-url="./fundamentos/cookie/index.html" data-title="MDN: Introducción a HTML">IDs de sesión, datos que deben persistir entre sesiones. y datos temporales de la sesión actual .</a>
        </div>  
        
        
    </div> <!-- Fin de #grid-container -->

    <!-- Contenedor que mostrará el botón volver y el iframe -->
    <div id="iframe-container">
        <!-- Contenido dinámico generado por JS -->
    </div>

