    <h2 id="main-title">Ejercicios DOM</h2>

    <!-- Contenedor para la cuadrícula de tarjetas -->
    <div id="grid-container">
         <!-- Las tarjetas se insertarán aquí o estarán definidas estáticamente -->
         <!-- Ejemplo de una tarjeta (reemplaza/genera según tus necesidades) -->
         <div class="ejemplo-card">
            <h3>Simulacion creación DOM</h3>
            <p>Pasos en la creación del DOM.</p>
            <a data-url="./examples/fundamentos/controlflow/panel.html" data-title="MDN: Introducción a HTML">Creación del DOM</a>
        </div>
        <div class="ejemplo-card">
            <h3>Listener</h3>
            <p>Ejemplo progamación de un listener.</p>
            <a data-url="./examples/fundamentos/listener/index.html" data-title="MDN: Introducción a HTML">Registrar el listener y definir la función que manejará el evento</a>
        </div> 
        <div class="ejemplo-card">
            <h3>CCS</h3>
            <p>Simulador de Cascada y Especificidad.</p>
            <a data-url="./examples/fundamentos/cascada-css/index.html" data-title="MDN: Introducción a HTML">Desmitificar por qué una regla CSS prevalece sobre otra</a>
        </div>                   
    </div> <!-- Fin de #grid-container -->

    <!-- Contenedor que mostrará el botón volver y el iframe -->
    <div id="iframe-container">
        <!-- Contenido dinámico generado por JS -->
    </div>

